---
title: "A 5-minute Markdown tutorial"
author: Rebecca Dodd
author_gitlab: rebecca
author_twitter: gitlab
categories: engineering
image_title: '/images/blogimages/markdown-tutorial-cover.png'
description: "New to GitLab? New to Markdown? Here's a quick explainer on using Markdown to format text all over GitLab."
tags: demo, inside GitLab
ee_cta: false # required only if you do not want to display the EE-trial banner
twitter_text: "A 5-minute #markdown tutorial by @TheWilliamChia"
extra_js:
  - libs/mermaid.min.js
---

At GitLab, we love [Markdown](https://docs.gitlab.com/ee/user/markdown.html) for providing a simple, clean way to add styling and formatting to plain text, that's visible and repeatable across multiple applications. This means you can copy and paste the text without losing the formatting, and it makes [reviewing diffs](https://docs.gitlab.com/ee/development/diffs.html) easier, as you're still reviewing plain text with no hidden data.

GitLab Product Marketing Manager [William Chia](/company/team/#thewilliamchia) recorded this five-minute Markdown tutorial for another GitLab team-member, so you can see how Markdown works within GitLab:

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/Ix416lAYRSg" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

## GitLab Flavored Markdown

GitLab uses [GitLab Flavored Markdown](https://gitlab.com/help/user/markdown#gitlab-flavored-markdown-gfm) (GFM) for other handy functionality not supported by standard Markdown. Here are a few useful things you can do with GFM:

### Reference issues, commits, merge requests, or team members

When you type `#12` (or any number) in an issue, it will automatically create a link to the corresponding issue in that project. You can also [easily reference other GitLab-specific items](https://gitlab.com/help/user/markdown#special-gitlab-references).

### Autolink URLs

 You don't have to use the standard `[]()` format to create a link: just pasting the URL will [autolink it](https://gitlab.com/help/user/markdown#url-auto-linking).

### Create diagrams and flowcharts

In [GitLab 10.3](/blog/2017/12/22/gitlab-10-3-released/#flow-charts-sequence-diagrams-and-gantt-diagrams-in-gitlab-flavored-markdown-gfm-with-mermaid) we added the ability to [generate diagrams and flowcharts](https://gitlab.com/help/user/markdown#mermaid) using [mermaid](https://mermaidjs.github.io/).

### Quick actions

Open or close issues, reassign merge requests, add todos, unsubscribe from issues – these are just a few things you can do with GFM [quick actions](https://docs.gitlab.com/ee/user/project/quick_actions.html), all without leaving your keyboard. Just type `/` and a list of options will appear.

These are just a few examples of GFM – see the [Markdown documentation](https://docs.gitlab.com/ee/user/markdown.html) for a full list. We're adding to it all the time: as of our last release you can quickly [make an issue confidential](/blog/2018/07/22/gitlab-11-1-released/#confidential-issue-quick-action) right from the issue comment field. This was a community contribution, and we invite you to [contribute](/community/contribute/) functionality and quick actions you'd find useful too!
