.container.text-left
  .row.u-margin-top-lg
    .col-md-6
      = image_tag "/images/events/gitlab-commit/intro.jpg", loading: "lazy"
    .col-md-6.u-margin-bottom-xs
      %h1 Commit to better DevOps
      %p
        GitLab Commit first launched in 2019 as the only place to get hands on tips and tricks for how to mature your GitLab use case and network with other GitLab users and experts. It evolved over the past two years with the help of our expanding community and product offering. We have been able to showcase feats of everyday magic and inspiration great and small that have changed people’s way of interacting and collaborating for the better. 
      %p
        Commit is where we have collected the best stories of idea in and innovation out we could find. Each talk and experience at Commit has been curated for its own merits and it’s connection to the GitLab community and product. We hope you enjoy watching and interacting as much as we have building them.
      -# %p
      -#   %strong
      -#     80+ speakers from 20+ industries presenting over 8+ tracks: All for free. Belong to a community of people passionate about DevOps.
