@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

$distros-size: 5;
$padding-container: 80px;

.landing-header {
  position: relative;
  overflow: hidden;

  &::after {
    background-image: linear-gradient(to right, $purple-section-gradient-from, $purple-section-gradient-to 100%);
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  h1 {
    font-size: 46px;
    font-weight: 300;
    margin: 0;
    color: $color-white;
  }

  h2 {
    color: $color-gray-extra-light;
    font-weight: 300;
    font-size: 22px;
  }

  .container {
    position: relative;
    z-index: 99;
  }

  > svg {
    position: absolute;
    left: -100px;
    right: -100px;
    top: -25%;
    min-height: 150%;
    min-width: 120%;
    z-index: 9;
    fill: $color-primary;
    opacity: .5;
  }
}

.landing-content {
  padding: 20px 0;
  text-align: center;
  color: $color-white;

  @media (min-width: $screen-md-min) {
    padding: $padding-container 0;
  }
}

.summary-container {
  background: $body-bg;

  .summary-title {
    margin-top: 40px;
    margin-bottom: 40px;
    color: $color-primary;
  }

  .description {
    max-width: 970px;
    margin: 0 auto;
    font-size: 18px;
    color: $text-color-light;
  }

  .btn {
    font-size: 18px;
    padding: 12px 20px;
    margin: 0;
    line-height: 1em;
    margin-top: 40px;
  }

  @media (max-width: $screen-xs-max) {
    padding-bottom: 80px;
  }
}

.characteristics-container {
  background: $color-white;
  border-top: 1px solid $border-color;
  padding-top: $padding-container;

  .point-title {
    color: $point-title-color;
    font-size: 20px;
  }

  .point-description {
    font-size: 16px;
    color: $text-color-light;
    margin-bottom: 0;
  }

  .icon-container {
    svg {
      margin-left: 40px;
      margin-top: 5px;
      width: 32px;
      height: 32px;
      fill: $color-secondary;
    }
  }

  .row-characteristics {
    margin-bottom: 80px;
  }

  @media (max-width: $screen-md-max) {
    .icon-container {
      svg {
        margin-left: 0;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    .col-sm-6 {
      padding: 0 30px;
      margin-bottom: 80px;
    }

    .row-characteristics {
      margin-bottom: 0;
    }

    .icon-container {
      svg {
        margin-left: 0;
        margin-top: 5px;
      }
    }
  }

}

.customer-logos-container {
  background-image: linear-gradient(90deg, $color-primary 0%, $link-code-color 100%);
  padding-top: $padding-container;

  h2 {
    color: $color-secondary-alt;
    text-align: center;
    font-weight: 400;
  }

  h4 {
    color: $color-white;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
  }

  .logos {
    margin-top: 40px;
  }

  @media (max-width: $screen-sm-max) {
    .logo-container {
      padding-bottom: 40px;
    }
  }
}

.form-container {
  padding-top: $padding-container;

  h2 {
    color: $color-primary;
    text-align: center;
    margin-bottom: 50px;
  }

  h4 {
    color: $color-primary-alt;
    font-size: 20px;
  }

  .gitlab-list-fed-info ul:first-child {
    padding-bottom: 40px;
  }

  .gitlab-list-fed-info ul {
    list-style: none;
    padding-left: 0;
    font-size: 16px;

    > li {
      margin-bottom: 5px;
      color: $text-color-light;
    }
  }

  @media (max-width: $screen-sm-max) {
    .form-column {
      form {
        margin: 0 auto;
      }
    }

    .fed-info {
      margin-left: 45px;
    }
  }

  @media (max-width: $screen-xs-max) {
    .fed-info {
      margin-left: 15px;
    }
  }
}

.center {
  width: 100%;
  margin: 0 auto;
}

.center-svg {
  display: block;
  margin: auto;
}

@media(max-width: $screen-sm-max) {
  .navy-logo {
    > svg {
      margin-left: 10px;
    }
  }

  .upmc-logo-fix {
    > svg {
      margin-left: 20px;
    }
  }
}

@media(max-width: $screen-xs-max) {
  .navy-logo,
  .upmc-logo {
    > svg {
      margin: 0 auto;
    }
  }
}
