---
layout: handbook-page-toc
title: Fulfillment Utilization Backend Team
description: "The Utilization Backend Team of the Fulfillment Sub-department at GitLab"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Vision

For more details about the product vision for Fulfillment, see our [Fulfillment](/direction/fulfillment/) page.

The License group manages the [Utilization category](/handbook/product/product-categories/#utilization-group).

## Team members

<%= direct_team(manager_role: 'Backend Engineering Manager, Fulfillment:Utilization', role_regexp: /[,&] Fulfillment/) %>

## Stable counterparts

<%= stable_counterparts(role_regexp: /[,&] Fulfillment/, direct_manager_role: 'Backend Engineering Manager, Fulfillment:Utilization') %>

## Milestone Planning

### Current Milestone

- [13.9 Planning Issue](https://gitlab.com/gitlab-org/fulfillment-meta/-/issues/149)
- [13.9 Issue Board](https://gitlab.com/groups/gitlab-org/-/boards/2233930?milestone_title=13.9&label_name%5B%5D=devops%3A%3Afulfillment) focus on the list driven by the `~Utilization - BE` label. Issues are arranged in priority order top - down.

### Upcoming Milestones

- [13.10 Planning Issue](https://gitlab.com/gitlab-org/fulfillment-meta/-/issues/157)
- [13.10 Issue Board](https://gitlab.com/groups/gitlab-org/-/boards/2294932?milestone_title=13.10&&label_name%5B%5D=devops%3A%3Afulfillment)

### Past Milestones

- None yet. We'll catalog these starting with the 13.9 / 13.10 boundary.

## Performance Indicators

<%= partial "handbook/engineering/development/performance-indicators/partials/child_dashboard.erb", locals: { filter_type: "group", filter_value: "Utilization" } %>
